@import '../abstracts/mixins';
@import '../abstracts/variables';

.blog-posts-wrapper {
  margin: map-get($layout-margin, phone-only);
  
  @include for-size(tablet-portrait-up) {
    margin: map-get($layout-margin, tablet-portrait-up);
  }

  .blog-posts-title {
    font-size: 1.5rem;

    @include for-size(tablet-portrait-up) {
      white-space: normal;
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }
  }

  .blog-posts-container {
    @include flex;
    flex-direction: column;

    @include for-size(tablet-portrait-up) {
      flex-direction: row; 
      justify-content: space-between; 
      align-items: center;
      flex-wrap: wrap;
    }
  }
 }