@import '../abstracts/mixins';

.blog-posts-card-container {
  @include flex;
  position: relative;
  margin: 1rem 0;
  box-shadow: 0px 10px 25px 1px rgba(0, 0, 0, 0.43);
  transition: all 0.3s ease-in-out;
  border-radius: 0.5em;

  &:hover {
    transform: scale(1.1);
  }

  @include for-size(tablet-portrait-up) {
    display: inline-block;
    margin: 1.5rem 1.5rem 1.5rem 0;
    width: 45%;
  }

  @include for-size(tablet-landscape-up) {
    flex-basis: 20%;
    margin: 1.5rem 1.5rem 1.5rem 0;
  }

  .blog-posts-card-link-wrapper {
    // TODO: adjust thumbnail size on mobile
    @include flex;
    flex-direction: column;

    // ? weird hack for link underline
    // background: linear-gradient(#fff, #fff);

    @include for-size(tablet-portrait-up) {
      flex-direction: column;
      color: #808080;
      text-decoration: none;
    }

    .blog-posts-card-thumbnail {
      width: 100%;
      min-height: 360px;
      border-radius: 0.5em;
      // filter: blur(2px);
    }

    .blog-posts-card-content {
      position: absolute;
      bottom: 0;
      max-width: 80%;
      margin: 0.5rem;
      color: #000;

      @include for-size(tablet-portrait-up) {
        margin-top: 0.5rem;
      }

      .blog-posts-card-article-title {
        font-size: 1.25rem;
        font-weight: 700;

        @include for-size(tablet-portrait-up) {
          font-size: 20px;
          font-weight: 600;
        }
      }

      .blog-posts-card-article-author {
        font-size: 1rem;
        margin-left: 0.25rem;
      }

      .blog-posts-card-article-excerpt {
        margin-top: 0.5rem;
        color: #808080;

        @include for-size(tablet-portrait-up) {
          font-size: 16px;
          margin-top: 0.25rem;
          font-weight: 400;
        }
      }
    }
  }
}
