.signin-modal {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .signin-text {
    text-align: center;
    font-size: 2em;
    line-height: normal;
  }
  
  %base-button {
    margin: 1em;
  }
  
  .google-button {
    @extend %base-button
  }

  .github-button {
    @extend %base-button
  }
}
