@import "./variables";

@mixin for-size($size) {
  @if map-has-key($sizes, $size) {
    $breakpoint-value: map-get($sizes, $size);
    
    @if $size == phone-only {
      @media (max-width: $breakpoint-value) {
        @content;
      }
    } 

    @else {
      @media (min-width: $breakpoint-value) {
        @content;
      }
    }
  }
  
  @else {
    @warn "Provided size `#{$size}` is not set. "
        + "Available breakpoints are: #{map-keys($sizes)}.";
  }
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
