.header-wrapper {
  background: rebeccapurple;
  margin-bottom: 1.45rem;
  justify-content: center;
  align-items: center;
  display: flex;
  .header-container {
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2em;
    margin: auto;
    padding: 1.0875rem 1.2rem;
    align-items: center;
    justify-content: space-around;
  }

  .resources {
      margin-left: auto;
  }

}
