.header-wrapper {
    background: rebeccapurple;
    margin-bottom: 1.45rem;
    .header-container {
        max-width: 960px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 0em;
        margin: auto;
        padding: 1.0875rem 1.45rem;
        align-items: baseline;
        justify-content: center;
    }
}